* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background: #1d1d1d;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 40px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px
}

.container .pelicula{
  text-align: center;
  position: relative;
}

.container .pelicula .title{
  font-size: 16px;
  font-weight: 600;
}

.container .pelicula .image-container {
  position: relative;
}

.container .pelicula .imagen{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
  transition: transform 0.6s ease-in-out;
}

.container .pelicula:hover .imagen {
  
  transform: rotateY(180deg);
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: none;
  font-size: 14px;
  padding: 10px;
  border-radius: 15px;
}

.pelicula:hover .description {
  display: block;
}
